body {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background-color: #222222;
    background-image: url(../img/bg22.gif);
    color: #434343;
}

a {
    color: #fafafa;
	text-decoration: none;
}

hr {
   border:dashed #545454; border-width:1px 0 0; height:0;
}

h3 {
    color: #ffffff;
    font-size: 16px;
}

img {
    border:0;
    margin:0;
}

.coollink {
    display: inline-block;
	margin: 2px 4px 2px;
	padding: 0px 6px;	
	color: #919191;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #ddd;
	background: #ffffff; 
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); 
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); 
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

a.coollink:hover{
	color: #333;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

a.coollink:active{
	background: #fff;
}

.list-pages {

 text-align: center;

}

.list-pages  a {

color: #333333;

}

.list-item {

    width: 100px;
	

	display: block;
	float:left;
	margin-right: 15px;
	margin-bottom: 15px;
	
}

/* Выравнивание по центру */

.main-holder {
	margin: 0 auto;
	margin-top: 10px;
    padding: none;
    height: auto;
	width: 80%;	
}


/* Главное окно - Меню */

.menu-holder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding : 5px;
	border: 1px solid #989898;
	background: #4e6793 url(../img/bg1.gif) repeat;
}

.menu-holder a:hover {
	background-color: #2b374b;
}

/* Главное окно - Вывод результатов */

.content-holder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding : 5px;
	background-color: #cfcfcf;
	border: 1px solid #fcfcfc;
}

.editButton {
	border: solid 1px;
	padding : 1px;
	margin-top: 1px;
}

.editButton:hover {
	border-color: #FF9900;
}

.newsItem {
  width: 97%;
  margin:0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  padding-bottom: 10px; 
  padding-left: 10px; 
}

.title {
  color: #aaaaff;
  font-size: 18px;
}

.datetime {
  color: #aaaaff;
  text-align: right;
}

/* Таблицы */

table{
border:1px;
border-collapse:separate; 
}

table td{
padding:3px; 
}

#mainTable {
 color: #343434;
 margin: 0 auto;
}

#mainTable  a{
 color: #535353;
}

#mainTable .topRow td {
 background-color: #777;
}

#mainTable .downRow td {
 text-align: center;
 color: #222;
 background-color: #6b6a6a;
}

#mainTable .downRow a {
 color: #aaa;
}

#mainTable td{
background-color: #999;
}
